<div class="scopevix-parallex">
    <div class="container">
        <div class="row scopevix-parallex-content">
            <div class="col-12 col-md-3">
                <div class="scopevix-parallex-content-inner">
                    <h2 [innerHTML]="parallexLeftTitle"></h2>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="scopevix-parallex-content-inner">
                    <h3><span>{{subTitle}}</span><br />{{parallexTitle}}</h3>
                    <button class="primary-btn">Join with us</button>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="scopevix-parallex-content-inner">
                    <h2 [innerHTML]="parallexRightTitle"></h2>
                </div>
            </div>
        </div>
    </div>
</div>