<div class="scopevix-career-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h2>{{careerTitle}}</h2>
                <h3>{{careerSubTitle}}</h3>
                <p class="career-description">{{careerDescription}}</p>
                <button class="secondry-btn explore-btn d-block">{{exploreBtn}}</button>
                <button class="secondry-btn start-btn d-block">{{startBtn}}</button>
                <button class="secondry-btn browse-btn d-block">{{browseBtn}}</button>
            </div>
            <div class="col-12 col-md-7">
                <div class="scopevixcareer-video">
                    @if(isBrowser) {
                    <div class="grid" style="width: 100%;">
                        @for(item of items; track $index) {
                        <div class="grid-item">
                            <img [src]="item.image" alt="Masonry item">
                        </div>
                        }
                    </div>
                    }
                </div>




            </div>
        </div>
    </div>
</div>