.subscribe-banner>.row {
    width: 100%;
    margin: 0;
}

.subscribe-banner {
    background-image: url('../../assets/images/Herobanner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.sub-content {
    z-index: 1;
}

.sub-content p,
.sub-content h1 {
    color: var(--text-light);
}

.newsletter-form>form>input {
    padding: 10px 165px 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 500px;
    position: relative;
    overflow: hidden;
    color: var(--text-dark);
}

.subscribe-btn {
    position: absolute;
    right: 0;
    border-radius: 0 5px 5px 0;
}

.newsletter-form {
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 80vw;
}