.brand-slider-logo .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 200px;
    opacity: 0.6 !important;
    transition: all 0.3s ease-in-out;
}

.brand-slider-logo .owl-carousel .owl-item img:hover {
    opacity: 1 !important;
    transform: scale(1.1);
}

.brand-slider-logo {
    margin: 50px 0;
}